.e2e-effective-content-changes-container {
  border-left: 2px solid #000;
  padding: 10px 10px 10px 20px;
  margin-left: 5px;

  div {
    border-left: 2px solid #000;
    padding: 10px 10px 10px 20px;
    margin-left: 5px;
  }
}
